@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Ubuntu&display=swap');

body {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: red;
}

#container {
	text-align: center;
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	height: 97vh; 
	padding-top: 30px; 
	padding-bottom: 15px;
}

#temp {
	background-color: #1F1D36;
}

#temp1 {
	background-color: #1F1D36;
}

#container-mid {
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
	height: 95vh; 
	padding-top: 30px; 
	padding-bottom: 20px; 
}

#container-one {
	background-color: #1F1D36;
	padding: 6%;

}

#container-one h1 {
	color: antiquewhite;
}

.bottom {
	text-align: center;
}

#myProgressBar {
	width: 90%;
	margin-bottom: 10px;
}

.songItemContainer{
    margin-top: 25px;
	height: 475px;
	overflow: auto;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#lyrics {
	overflow: auto;
	height: 81%;
	font-family: 'Roboto', sans-serif;
	background-color: antiquewhite;
	padding: 10px;
	border-radius: 5px;
}